<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/principal.css')}}">
        <title>FreeToPlay - Index</title>
    </head>

    <body>
        
        <div class="principal container-fluid">
            <!-- Cabecalho -->
            <div class="row">
                <div class="col-md-12">
                    <header class="cabecalho">
                       <span style="color: blue;">Free</span>ToPlay
                    </header>
                </div>
            </div>
            <!-- Fim cabecalho -->
             
            
            <!-- Plataformas -->
            <div class="row" style="margin-top:20px;">
                <div class="col-md-4"></div>

                <div class="card-group col-md-8 alinharCentro">

                    <a href="/jogos?platform=pc" class="jogoSelecao">
                        <div class="card">
                            <img src="../static/img/silhueta-do-logotipo-do-windows.png" class=" iconesPlataform card-img-top" alt="pc">
                            <div class="card-body">
                                <h5 class="card-title">Pc</h5>
                            </div>
                        </div>
                    </a>

                    <a href="/jogos?platform=browser" class="jogoSelecao">
                        <div class="card">
                            <img src="../static/img/browser.png" class="iconesPlataform card-img-top" alt="Navegador">
                            <div class="card-body">
                                <h5 class="card-title">Navegador</h5>
                            </div>
                        </div>
                    </a>
                    <a href="/jogos?platform=all" class="jogoSelecao">
                        <div class="card">
                            <p>
                                <img src="../static/img/browser.png" class="iconesPlataformMenor card-img-top" alt="Navegador">
                                <img src="../static/img/silhueta-do-logotipo-do-windows.png" class="iconesPlataformMenor card-img-top" alt="pc">
                            </p>
                            <div class="card-body">
                                <h5 class="card-title">Todos</h5>
                            </div>
                        </div>
                    </a>

                </div>
                
                
            </div>
            <!-- Fim plataformas -->

            <!-- Disposição dos jogos mais populares -->
            <div class="row" style="margin-top:25px;">
               <div class="col-md-12">

                   <div id="jogosPopulares" class="carousel carousel-dark slide" data-bs-ride="carousel">
                       <div class="carousel-inner">
                           
                           <div class="carousel-item active">
                                <div class="card-group">
                                    {%for jogo in jogos1%}
                                        <a href="/detalheJogo?id={{jogo.id}}" class="jogoSelecao">
                                            <div class="cardTam card">
                                                <img src="{{jogo.thumbnail}}" class="card-img-top" alt="{{jogo.title}}">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{jogo.title}}</h5>
                                                    <p class="card-text">{{jogo.short_description}}</p>
                                                    <p class="card-text">{{jogo.genre}}</p>
                                                    <p class="card-text">{{jogo.platform}}</p>
                                                    <p class="card-text">{{jogo.developer}}</p>
                                                    <a href="{{jogo.game_url}}" class="linkPagJogo" target="_blank">Ver site jogo</a>
                                                </div>
                                                <div class="card-footer">
                                                    <small class="text-muted">{{jogo.release_date}}</small>
                                                </div>
                                            </div>
                                        </a>
                                    {%endfor%}
                                    
                                </div>
                           </div>
           
                           <div class="carousel-item">
                                <div class="card-group">
                                    {%for jogo in jogos2%}
                                        <a href="/detalheJogo?id={{jogo.id}}" class="jogoSelecao">
                                            <div class="cardTam card">
                                                <img src="{{jogo.thumbnail}}" class="card-img-top" alt="{{jogo.title}}">
                                                <div class="card-body">
                                                    <h5 class="card-title">{{jogo.title}}</h5>
                                                    <p class="card-text">Descrição:{{jogo.short_description}}</p>
                                                    <p class="card-text">{{jogo.genre}}</p>
                                                    <p class="card-text">{{jogo.platform}}</p>
                                                    <p class="card-text">{{jogo.developer}}</p>
                                                    <a href="{{jogo.game_url}}" class="linkPagJogo" target="_blank">Ver site jogo</a>
                                                </div>
                                                <div class="card-footer">
                                                    <small class="text-muted">{{jogo.release_date}}</small>
                                                </div>
                                            </div>
                                        </a>
                                    {%endfor%}
                                </div>
                           </div>
                       </div>
                   </div>

               </div> 
            </div>
            <!-- Fim jogos mais populares -->
            
            <!-- Footer -->
            <footer class="footer alinharCentro">
                <p>Aquiles Aguiar & Matheus Oliveira - 2021</p>

                <div>Icons made by <a href="https://www.flaticon.com/authors/webalys" title="Webalys">Webalys</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </footer>
            <!-- Fim footer -->
        </div>
    </body>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>